HERE IS YOUR CART.<br>

{{# each items }}
  <h3>Product: {{ this.product.name }}</h3>
      Quantity: {{ this.quantity}} 
      <button {{ action "more" this }}>+</button> 
      <button {{ action "less" this }}>-</button>
    <p>Price: ${{ format-price this.product.price }}</p>
    <p>Item Subtotal: ${{ format-price this.subtotal }}</p>

  <br>
{{/ each }}

Your order's total:
${{ format-price this.total }}